{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Mr.Mooon{% endblock %}

{% block page_content %}
<div class="page-header">
	{% if current_user.is_authenticated %}
		<h1>你好，{{ current_user.username }}!</h1>
		<p>欢迎回来！</p>
	{% else %}
		<h1>你好，陌生人！</h1>
		<p>很高兴见到你！</p>
	{% endif %}
</div>
{% if current_user.can(Permission.WRITE) %}
	{{ wtf.quick_form(form) }}
{% endif %}
{% include '_posts.html' %}
<div class="pagination">
	{{ macros.pagination_widget(pagination, '.index')}}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}